<html>
<head>
    <title>Albert Lee Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="blog.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
  
  
<body  class=" text-center container-fluid" >
  

  
  
<nav class="fixed-top navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Albert</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Protfolio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Tiny Project</a>
          <a class="dropdown-item" href="#">Mini Project</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">ShowCase</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Certificate</a>
      </li>
       
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Blog</a>
      </li>
    </ul>
  </div>
</nav>
 


    
<div class="jumbotron">



<div id="about">  
  <h1 id="title">About</h1>
  <p>I was born in the U.S but I grouth up I Taiwan, after I graduated from physics major and patent program  Used to be a physics Teaching Assistant in University but drop out from graduat school,I hope I can use Computer Science to change the world. I am interested in Data Science, my capstone project might be use a recommendation systems for the movie shopping website. </p>
  <p>Skill<p>
    <ul>
      <li>HTML5/CSS3/Javascropt</li>
      <li>DOM/JQUERY</li>
      <li>node.js</li>
      <li>react</li>
      <li>Tensorslow</li>
      <li>Python</li>

      
    </ul>
</div>

<div id="project">
  <h1>Project</h1>
  <button id="tinyButton" class="btn btn-success btn-info btn-md">Tiny Project</button>
  <button id="miniButton" class="btn btn-success btn-md btn-info">Mini Project</button>
  <button id="showCaseButton" class="btn btn-success btn-info btn-md disabled">SHOWCASE</button>
</div>
  
</div>

  
  
  <div class="container tinyProject">
    
       <div class="row">
        <div class="col-lg-3">
            <h4>Money Game</h4>
          <a href="https://codepen.io/herodotuslee/pen/QrojVV"><img class="project_size" src="https://upload.cc/i1/2018/05/22/Llp0Mj.png"></a>
          
         </div>
        <div class="col-lg-3">
           <h4>Image Gallery</h4>
          
         </div>
        <div class="col-lg-3">3</div>
        <div class="col-lg-3">4</div>
       </div>
    
      <div class="row">
        <div class="col-lg-3">5</div>
        <div class="col-lg-3">6</div>
        <div class="col-lg-3">7</div>
        <div class="col-lg-3">8</div>
      </div> 
    
<!--       <div class="row">
         <div class="col-lg-3"></div>
         <div class="col-lg-3"></div>
         <div class="col-lg-3"></div>
      </div> -->
  </div>

  
  
  <div class="container miniProject">
    <div class="row">
     <div class="col-lg-4">
       <h4>Color Game Project</h4>
       <a href="https://codepen.io/herodotuslee/pen/LmMKmx"><img class="project_size" src="https://upload.cc/i1/2018/05/22/hALgcT.png"></a></div>
   
    <div class="col-lg-4">
        <h4>ToDo List Project</h4>
      <a href="https://codepen.io/herodotuslee/pen/MGxKxj"><img class="project_size" src="https://upload.cc/i1/2018/05/22/jtTFN0.png
       "><a>
    </div>
        
    <div class="col-lg-4">
      <h4>PataTap</h4>
      <a href="https://codepen.io/herodotuslee/pen/ZoPgez"><img  class="project_size" src="https://i.imgur.com/Qe0hG8f.png"></a>
    </div>
  </div>
      <div class="row">
        <div class="col-lg-4">4</div>
        <div class="col-lg-4">5</div>
        <div class="col-lg-4">6</div>
       </div>
      
       <div class="row">
        <div class="col-lg-4">7</div>
        <div class="col-lg-4">8</div>
        <div class="col-lg-4">9</div>
      </div>
    </div>

  

  
      
<!--   <button class="btn btn-block" type="submit">Submit</button> -->
  
 <!--why <div class="col-xs-4"> change nothing -->
  </div>
    
   
<div id="Certificate">
<!--use text-center bootstrap to replace define center by myself  -->


  </div>    
 

<div id="blog">
<!--use text-center bootstrap to replace define center by myself  -->


  </div>    
    
<script type="text/javascript" src="blog.js"></script>
    
    

</body>

  
</html>