<% include partials/header %>

    
<div class="jumbotron">



<div id="about">  
  <h1 id="title">About</h1>
  <p>I was born in the U.S but I grouth up I Taiwan, after I graduated from physics major and patent program  Used to be a physics Teaching Assistant in University but drop out from graduat school,I hope I can use Computer Science to change the world. I am interested in Data Science, my capstone project might be use a recommendation systems for the movie shopping website. </p>
  <p>Skill<p>
    <ul>
      <li>HTML5/CSS3/Javascropt</li>
      <li>DOM/JQUERY</li>
      <li>node.js</li>
      <li>react</li>
      <li>Tensorslow</li>
      <li>Python</li>

      
    </ul>
</div>

<div id="project">
  <h1>Project</h1>
  <button id="tinyButton" class="btn btn-success btn-info btn-md">Tiny Project</button>
  <button id="miniButton" class="btn btn-success btn-md btn-info">Mini Project</button>
  <button id="showCaseButton" class="btn btn-success btn-info btn-md disabled">SHOWCASE</button>
</div>
  
</div>

  
  
  <div class="container tinyProject">
    
       <div class="row">
        <div class="col-lg-3">
            <h4>Money Game</h4>
          <a href="https://codepen.io/herodotuslee/pen/QrojVV"><img class="project_size" src="https://upload.cc/i1/2018/05/22/Llp0Mj.png"></a>
          
         </div>
        <div class="col-lg-3">
           <h4>Image Gallery</h4>
          
         </div>
        <div class="col-lg-3">3</div>
        <div class="col-lg-3">4</div>
       </div>
    
      <div class="row">
        <div class="col-lg-3">5</div>
        <div class="col-lg-3">6</div>
        <div class="col-lg-3">7</div>
        <div class="col-lg-3">8</div>
      </div> 
    
<!--       <div class="row">
         <div class="col-lg-3"></div>
         <div class="col-lg-3"></div>
         <div class="col-lg-3"></div>
      </div> -->
  </div>

  
  
  <div class="container miniProject">
    <div class="row">
     <div class="col-lg-4">
       <h4>Color Game Project</h4>
       <a href="https://codepen.io/herodotuslee/pen/LmMKmx"><img class="project_size" src="https://upload.cc/i1/2018/05/22/hALgcT.png"></a></div>
   
    <div class="col-lg-4">
        <h4>ToDo List Project</h4>
      <a href="https://codepen.io/herodotuslee/pen/MGxKxj"><img class="project_size" src="https://upload.cc/i1/2018/05/22/jtTFN0.png
       "><a>
    </div>
        
    <div class="col-lg-4">
      <h4>PataTap</h4>
      <a href="https://codepen.io/herodotuslee/pen/ZoPgez"><img  class="project_size" src="https://i.imgur.com/Qe0hG8f.png"></a>
    </div>
  </div>
      <div class="row">
        <div class="col-lg-4">4</div>
        <div class="col-lg-4">5</div>
        <div class="col-lg-4">6</div>
       </div>
      
       <div class="row">
        <div class="col-lg-4">7</div>
        <div class="col-lg-4">8</div>
        <div class="col-lg-4">9</div>
      </div>
    </div>

  

  
      
<!--   <button class="btn btn-block" type="submit">Submit</button> -->
  
 <!--why <div class="col-xs-4"> change nothing -->
  </div>
    
   
<div id="Certificate">
<!--use text-center bootstrap to replace define center by myself  -->


  </div>    
 

<div id="blog">
<!--use text-center bootstrap to replace define center by myself  -->


  </div>    
    
<script type="text/javascript" src="blog.js"></script>
    
    

</body>

  
</html>


<% include partials/footer %>